/* SplashHeader */

#toboSplashHeader {
  overflow: hidden;
  height: 647px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

img#splashHeaderBg {
  height: 100%;
}

#splashHeaderBgOverlay {
  width: 100%;
  height: 100%;
  background-color: var(--tobo-blue);
  mix-blend-mode: multiply;
  opacity: 0.5;
  position: absolute;
}

.splashHeaderLine {
  background-color: #FFF;
  height: 2px;
  width: calc(50% - 250px);
  position: absolute;
  left: 0;
}

#splashHeaderLineXR {
  left: auto;
  right: 0;
}

#splashHeaderLineYT,
#splashHeaderLineYB {
  left: calc(50% - 1px);
  width: 2px;
  height: calc(50% - 62px);
  top: 0;
}

#splashHeaderLineYB {
  top: auto;
  bottom: 0;
  height: calc(50% - 126px);
}

#toboSplashHeader h2 {
  position: absolute;
  color: #FFF;
  font-family: "anonymous-pro-b", serif;
  font-size: 48px;
  line-height: 42px;
  text-align: center;
}

#splashHeaderLogos {
  position: absolute;
  top: 50%;
  margin-top: 57px;
}

#splashHeaderLogos span {
  color: #FFF;
  font-family: "anonymous-pro-b", serif;
  font-size: 20px;
  margin-right: 4px;
  margin-left: 12px;
  vertical-align: -2px;
}

#splashHeaderLogos a {
  margin-left: 12px;
  margin-right: 12px;
}

#splashHeaderLogos a img {
  vertical-align: middle;
  height: 49px;
}

@media only screen and (max-width: 767px) {
  #toboSplashHeader {
    height: 431px;
  }

  img#splashHeaderBg {
    margin-left: 100px; /* Shift bg image on mobile */
  }

  #splashHeaderLineXL,
  #splashHeaderLineXR {
    width: calc(50% - 160px);
  }

  #splashHeaderLineYT {
    height: calc(50% - 48px);
  }

  #splashHeaderLineYB {
    height: calc(50% - 112px);
  }

  #toboSplashHeader h2 {
    font-size: 30px;
    line-height: 1;
  }

  #splashHeaderLogos {
    text-align: center;
    margin-top: 56px;
  }

  #splashHeaderLogos span {
    font-size: 14px;
    display: block;
    margin: 0;
    margin-bottom: 12px;
  }

  #splashHeaderLogos a {
    margin-left: 6px;
    margin-right: 6px;
  }

  #splashHeaderLogos a img {
    height: 24px;
  }
}

/* SplashModule */

.toboSplashModule {
  border-radius: 70px 70px 0px 0px;
  position: relative;
  width: 100%;
  margin-top: -70px;
  background-color: #FFF;
}

.splashModuleColumn {
  float: left;
  width: 50%;
  position: relative;
}

@media only screen and (max-width: 767px) {
  .toboSplashModule {
    border-radius: 36px 36px 0px 0px;
    margin-top: -36px;
  }

  .splashModuleColumn {
    width: 100%;
  }
}

/* SplashModule1 */

#toboSplashModule1 {
  padding-bottom: 164px;
}

img#splashModule1Shape {
  width: 30%;
  position: absolute;
  right: 1.3%;
  top: 593px;
}

#toboSplashModule1 .splashModuleColumnL img {
  width: 100%;
  padding-left: 9.9%;
  padding-right: 7.5%;
  padding-top: 118px;
}

#splashModule1Circle {
  position: absolute;
  width: 29.7%;
  aspect-ratio: 4/4;
  background-color: var(--tobo-blue);
  mix-blend-mode: multiply;
  border-radius: 999px;
  top: 118px;
  margin-top: 22.5%;
  right: 3.9%;
}

img#splashModule1Logo {
  width: 100%;
  padding-left: 3.4%;
  padding-right: 31.2%;
  padding-top: 130px;
}

#toboSplashModule1 .splashModuleColumnR p {
  margin-bottom: 25px;
  margin-top: 26px;
  margin-left: 3.4%;
  margin-right: 25.9%;
}

#toboSplashModule1 .splashModuleColumnR button {
  margin-top: 10px;
  margin-left: 3.4%;
  width: 438px;
}

#toboSplashModule1 #splashModule1Mint button {
  margin-top: 31px;
}

#splashModule1Mint span {
  line-height: 1;
  margin-left: 3.4%;
  margin-top: 10px;
  display: block;
  padding-left: 20px;
  font-family: "inter-regular", sans-serif;
  font-size: 14px;
}

#splashModule1Banner {
  background-color: var(--tobo-blue);
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  width: 552px;
  height: 56px;
  border-radius: 999px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "inter-bold", sans-serif;
  color: #FFF;
  font-size: 28px;
  margin-top: -28px;
}

#splashModule1Banner span {
  font-family: "inter-medium", sans-serif;
}

@media only screen and (max-width: 1023px) {
  #toboSplashModule1 .splashModuleColumnR button {
    width: 298px;
  }
}

@media only screen and (max-width: 767px) {
  #toboSplashModule1 {
    padding-bottom: 83px;
  }

  img#splashModule1Shape {
    top: 810px;
  }

  #toboSplashModule1 .splashModuleColumnL img {
    padding-top: 59px;
  }

  #splashModule1Circle {
    top: 59px;
  }

  img#splashModule1Logo {
    padding-top: 65px;
  }

  #toboSplashModule1 .splashModuleColumnR p {
    font-size: 18px;
    line-height: 1.1;
  }

  #splashModule1Banner {
    width: 320px;
    height: 38px;
    font-size: 16px;
    margin-top: -19px;
  }
}

/* SplashModule2 */

#toboSplashModule2 {
  background-color: var(--tobo-yellow);
  padding-bottom: 131px;
}

#toboSplashModule2 .splashModuleColumnL {
  width: 61%;
}

#toboSplashModule2 h3 {
  margin-left: 14.6%;
  margin-top: 116px;
}

#toboSplashModule2 p {
  margin-left: 14.6%;
  margin-top: 29px;
}

#toboSplashModule2 button {
  margin-left: 14.6%;
}

#toboSplashModule2 .splashModuleColumnR {
  width: 39%;
}

#toboSplashModule2 .splashModuleColumnR img {
  width: 72.2%;
  position: absolute;
  margin-top: 79px;
  right: 15.2%;
}

.splashModule2Circle {
  position: absolute;
  width: 17.3%;
  aspect-ratio: 4/4;
  background-color: var(--tobo-blue);
  mix-blend-mode: multiply;
  border-radius: 999px;
  top: 79px;
  right: 15.2%;
  margin-right: 63.55%;
}

#splashModule2Circle2 {
  background-color: var(--tobo-red);
  margin-top: 20%;
}

@media only screen and (max-width: 767px) {
  #toboSplashModule2 .splashModuleColumn {
    width: 100%;
  }

  #toboSplashModule2 h3 {
    margin-top: 58px;
  }

  #toboSplashModule2 p {
    margin-right: 4.6%;
  }

  #toboSplashModule2 .splashModuleColumnR {
    padding-bottom: 50%;
  }

  #toboSplashModule2 .splashModuleColumnR img {
    margin-top: 40px;
  }

  .splashModule2Circle {
    top: 40px;
  }
}

/* SplashModule3 */

#toboSplashModule3 {
  background-color: #FF737D;
  height: 500px;
}