/* TOBOProjects */

#toboProjects {
  background-color: var(--tobo-yellow);
  min-height: 125vh;
  padding-bottom: 187px;
}

#toboProjects .moduleColumn {
  width: 100%;
}

#toboProjects h3 {
  margin-top: 76px;
  margin-left: 7.3%;
}

#toboProjects p {
  margin-top: 29px;
  margin-left: 7.3%;
  width: 50%;
}

a#projectsArtBlocks {
  position: absolute;
  top: 81px;
  right: 150px;
}

a#projectsArtBlocks img {
  height: 49px;
  filter: invert(1);
}

a#projectsArtBlocks img#artBlocksArrow {
  height: 24px;
  margin-left: 17px;
  vertical-align: 8px;
}

@media only screen and (max-width: 767px) {
  #toboProjects {
    padding-bottom: 94px;
  }

  #toboProjects h3 {
    margin-top: 50px;
  }

  #toboProjects p {
    width: 75%;
  }

  a#projectsArtBlocks {
    position: absolute;
    top: 54px;
    right: 7.3%;
  }

  a#projectsArtBlocks img {
    height: 32px;
  }

  a#projectsArtBlocks img#artBlocksArrow {
    height: 16px;
    margin-left: 8px;
    vertical-align: 6px;
  }
}

/* TOBOProject */

.toboProject {
  background-color: #FFF;
  margin-left: 5.6%;
  width: 88.7%;
  margin-top: 45px;
  border-radius: 65px;
  padding-bottom: 47px;
  position: relative;
}

img#projectHero {
  width: 27.8%;
  margin-top: 47px;
  margin-left: 3.5%;
  float: left;
}

.projectCircle {
  position: absolute;
  width: 7.8%;
  aspect-ratio: 4/4;
  background-color: var(--tobo-red);
  mix-blend-mode: multiply;
  border-radius: 999px;
  top: 239px;
  left: 27.4%;
}

.projectDetails {
  float: right;
  width: 57.3%;
  margin-right: 4%;
  margin-top: 47px;
  position: relative;
}

#toboProjects .projectDetails h3 {
  margin-top: 22px;
  margin-left: 0;
}

#toboProjects .projectDetails h4 {
  margin-top: 14px;
}

.projectDetails h4 span {
  color: var(--tobo-red);
}

#toboProjects .projectDetails p {
  margin-top: 25px;
  width: 100%;
  margin-left: 0;
  font-size: 20px;
  font-family: "inter-regular", sans-serif;
  line-height: 134%;
  letter-spacing: 0.015em;
}

span.projectMinted {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 24px;
  font-family: "inter-regular", sans-serif;
  border: 1px solid var(--tobo-dark);
  line-height: 1;
  border-radius: 999px;
  padding: 14px;
  padding-left: 33px;
  padding-right: 33px;
}

.projectLogos {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  margin-top: 35px;
  padding-top: 21px;
}

.projectLogos span {
  display: block;
  line-height: 1;
  font-size: 21px;
  color: var(--tobo-red);
  font-family: "inter-bold", sans-serif;
}

.projectLogos a {
  margin-top: 20px;
  float: left;
  margin-right: 37px;
}

.projectLogos a img {
  filter: invert(1);
  height: 45px;
}

#toboPage button.projectMint {
  background-color: var(--tobo-red);
  color: #FFF;
  font-family: "inter-medium", sans-serif;
  font-size: 28px;
  border-radius: 999px;
  padding: 12px;
  padding-left: 29px;
  padding-right: 29px;
  cursor: pointer;
  position: absolute;
  right: 3.6%;
  margin-top: 20px;
}

button.projectMint span {
  font-family: "inter-bold", sans-serif;
}

@media only screen and (max-width: 767px) {
  .toboProject {
    border-radius: 36px;
    padding-bottom: 24px;
  }

  img#projectHero {
    width: 90%;
    margin-top: 32px;
    margin-left: 5%;
  }

  .projectCircle {
    width: 16%;
    left: auto;
    right: -2.8%;
  }

  .projectDetails {
    width: 90%;
    margin-right: 5%;
    margin-top: 24px;
  }

  #toboProjects .projectDetails h3 {
    margin-top: 12px;
  }

  #toboProjects .projectDetails h4 {
    margin-top: 8px;
  }

  #toboProjects .projectDetails p {
    margin-top: 12px;
    font-size: 14px;
  }

  span.projectMinted {
    font-size: 12px;
    padding: 8px;
    padding-left: 16px;
    padding-right: 16px;
  }

  .projectLogos {
    margin-top: 16px;
    padding-top: 12px;
  }

  .projectLogos span {
    font-size: 16px;
  }

  .projectLogos a {
    margin-top: 12px;
    margin-right: 12px;
  }

  .projectLogos a img {
    height: 28px;
  }

  #toboPage button.projectMint {
    font-size: 16px;
    padding: 8px;
    padding-left: 16px;
    padding-right: 16px;
    right: 3.6%;
    margin-top: 8px;
  }
}