/* Fonts */

@font-face {
  font-family: "anonymous-pro-b";
  src: url("assets/fonts/anonymous-pro-b.woff2") format("woff2");
}

@font-face {
  font-family: "inter-regular";
  src: url("assets/fonts/inter-regular.woff2") format("woff2");
}

@font-face {
  font-family: "inter-bold";
  src: url("assets/fonts/inter-bold.woff2") format("woff2");
}

@font-face {
  font-family: "inter-medium";
  src: url("assets/fonts/inter-medium.woff2") format("woff2");
}

@font-face {
  font-family: "oswald-medium";
  src: url("assets/fonts/oswald-medium.woff2") format("woff2");
}

/* Vars */

:root {
  --tobo-blue: #59CCF5;
  --tobo-yellow: #FADF4F;
  --tobo-red: #FF737D;
  --tobo-dark: #241F21;
}

/* TOBOPage */

#toboPage {
  width: 100%;
  max-width: 1512px;
  margin: auto;
  position: relative;
  line-height: 0;
}

#toboPage h1,
#toboPage h2,
#toboPage h3,
#toboPage h4,
#toboPage h5,
#toboPage h6 {
  margin: 0;
  line-height: 1;
}

#toboPage h3 {
  font-size: 62px;
  font-family: "oswald-medium", sans-serif;
  color: var(--tobo-dark);
}

#toboPage p {
  font-family: "anonymous-pro-b", serif;
  font-size: 32px;
  line-height: 1;
  margin: 0;
  color: var(--tobo-dark);
}

#toboPage .clear {
  clear: both;
}

#toboPage button {
  border: none;
  background: none;
  padding: 0;
  outline: none;
  line-height: 1;
}

@media only screen and (max-width: 767px) {
  #toboPage h3 {
    font-size: 30px;
  }

  #toboPage p {
    font-size: 18px;
  }
}