/* TOBOProjects */

#toboProjects {
  background-color: var(--tobo-yellow);
}

#toboProjects .moduleColumn {
  width: 100%;
}

#toboProjects h3 {
  margin-top: 76px;
  margin-left: 7.3%;
}

#toboProjects p {
  margin-top: 29px;
  margin-left: 7.3%;
  width: 50%;
}

a#projectsArtBlocks {
  position: absolute;
  top: 81px;
  right: 150px;
}

a#projectsArtBlocks img {
  height: 49px;
  filter: invert(1);
}

a#projectsArtBlocks img#artBlocksArrow {
  height: 24px;
  margin-left: 17px;
  vertical-align: 8px;
}

@media only screen and (max-width: 767px) {
  #toboProjects h3 {
    margin-top: 50px;
  }

  a#projectsArtBlocks {
    position: absolute;
    top: 54px;
    right: 7.3%;
  }

  a#projectsArtBlocks img {
    height: 32px;
  }

  a#projectsArtBlocks img#artBlocksArrow {
    height: 16px;
    margin-left: 8px;
    vertical-align: 6px;
  }
}