@font-face {
  font-family: "anonymous-pro-b";
  src: url("fonts/anonymous-pro-b.woff2") format("woff2");
}

@font-face {
  font-family: "inter-bold";
  src: url("fonts/inter-bold.woff2") format("woff2");
}

@font-face {
  font-family: "inter-medium";
  src: url("fonts/inter-medium.woff2") format("woff2");
}

:root {
  --tobo-blue: #59CCF5;
}

#toboPage {
  width: 100%;
  max-width: 1512px;
  margin: auto;
  position: relative;
  line-height: 0;
}

#toboPage h1,
#toboPage h2,
#toboPage h3,
#toboPage h4,
#toboPage h5,
#toboPage h6 {
  margin: 0;
}